<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="style.css">

<body>
    <div class="container">

        <h3 id="head" class="text-white p-4">All data </h3>
        <a href="/"><button class="btn btn-success m-4">Create</button></a>


        <div class="row">
            <% if(rows.length> 0) { %> <% rows.map((eachData)=> { %>
                    <div class="col-md-3 col-sm-12 mx-1">
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%- eachData.name %>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%- eachData.email %>
                                </h6>
                                <a href="/update-data?id=<%- eachData.id%>" class="card-link" button link added><button
                                        class="btn btn-sm btn-primary">Edit</button></a>
                                <a href="/delete-data?id=<%- eachData.id%>"><button
                                        class="btn btn-sm btn-danger">Delete</button></a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <%} else { %>

                            <h1 class="h2 text-center">
                                <h3 class="text-danger">Oops..!</h3> <i> No data found</i>
                            </h1>

                            <% }%>
        </div>
    </div>
</body>

</html>